:root{
  --principalColor: #0500D7;
  --secondaryColor: #FF6600;
  --tertiaryColor: #FFC400;

  --firstAlernative:#0981FF;
  --secondAlternative:#37BBFF;
}

body {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
  }

  h1{
    font-size: 4em;
    margin: 1.4em ;
    text-align: center;
    color: var(--principalColor);
}
h2{
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Lato', sans-serif;
    color: var(--secondaryColor);
    background-color: whitesmoke;
    padding: .2em .1em;
    border-radius: 1em;
}


h3 {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 30px;
  font-family: 'Lato', sans-serif;
  color: var(--firstAlernative);
}

a{
  text-decoration: none;
  color: var(--principalColor);
}

nav{
  float: right;
  }

p{
  font-size: 24px;
}

.enlaceCabezera{
    display: inline-block;
    padding: 0.1em 0.6em;
    margin-right: 15px;
    color: var(--principalColor);
    font-size: 1.5em;
    font-family: "Trebuchet MS";
    /* font-style: oblique; */
    border: 0.1em solid var(--principalColor);
    border-radius: 1em;
    background-color: whitesmoke;
}

.oprimiendo {
  font-size: 120px;
  line-height: 1;
  text-shadow: 0 0 2rem var(--secondaryColor);
  transition: all .07s ease;
  min-height: 120px;
}

.teclas {
  display: block;
  width: 100%;
  height: 350px;
  max-width: 880px;
  position: relative;
  margin: 40px auto 0;
}

.tecla {
  position: relative;
  border: 4px solid black;
  border-radius: .5rem;
  transition: all .07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
}

.tecla:active{
  transform: scale(.95);
  border-color: var(--secondaryColor);
  box-shadow: 0 0 2rem var(--secondaryColor);
}

.tecla:not(.bemol) {
  float: left;
  width: 10%;
  height: 120%;
  background: white;    
}

.tecla.bemol {
  position: absolute;
  width: 6%;
  height: 60%;
  background: #000;
  color: #eee;
  top: 0;
  z-index: 3;
}

.tecla[data-tecla="87"] {
  left: 7%;
}

.tecla[data-tecla="69"] {
  left: 17%;
}

.tecla[data-tecla="84"]  {
  left: 37%;
}

.tecla[data-tecla="89"] {
  left: 47%;
}

.tecla[data-tecla="85"] {
  left: 57%;    
}

.tecla[data-tecla="79"] {
  left: 77%;    
}

.tecla[data-tecla="80"] {
  left: 87%;    
}

.oprime {
  transform: scale(.95);
  border-color: var(--secondaryColor);
  box-shadow: 0 0 2rem var(--secondaryColor);
}

.pista{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 7px;
  font-size: 20px;
}


#navigator{
  /* position: fixed; */
  width: 100%;
  padding: 0.3em;
  height: 2.6em;
  /* top: 0; */
  background: whitesmoke ;
  /* background-color: var(--secondaryColor); */
}

#instruye{
  /* position: relative; */
  margin: 2em;
}



#describeSeccion{
/* width: 50em; */
padding-left: 10em;
padding-right: 10em;
/* text-align: justify; */
margin: 0 auto;
color: var(--firstAlernative) ;
}

#teclado{
  margin-bottom: 12em;
}

#About-Seccion{
  display: inline-block;
  width: 100%;
  height: 37rem;
  background-color: var(--firstAlernative)
  }
  
  
  
  #About-Container{
      margin: 0 auto;
      width: 60%;
      margin-top: 2.5rem;
      padding: 1rem 4rem;
  
      background-color: var(--tertiaryColor);
      border-radius: 2rem;
  }
  
  #About-Container p {
      color: var(--principalColor);
      font-size: 1.2rem;
      text-align: center;
  }