:root {
    --principalColor: #0500D7;
    --secondaryColor: #FF6600;
    --tertiaryColor: #FFC400;

    --firstAlernative:#0981FF;
    --secondAlternative:#37BBFF;
}

body{
    /* background-image: url(/img/principalPage/cityBackground.jpg);
background-size: contain; */
}

section{
    /* border-bottom: 1.7px solid silver; */
    padding: 25px;
}

h1{
    font-size: 3em;
    margin: 30px ;
    text-align: center;
}
h2{
    font-size: 2em;
    text-align: center;
    margin:10px;
}

h3{
    font-size: 1em;
    text-align: center;
    margin: 20px;
}

h4{
    text-align: center;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: var(--principalColor);
}

nav{
float: right;
}

.enlaceCabezera{
    display: inline-block;
    padding: 3px;
    padding-top: 5px;
    margin-right: 15px;
    color: var(--principalColor);
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium';
    font-style: oblique;
}


.conocimientos-seccion{
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin:20px;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid gray;

    /* font-size: 2em; */

}

.items-lista{
    display: block;
}


.proyecto-seccion{
    border: 2px solid gray;
    display: inline-block;
    width: 25em;
    height: 20em;
    margin: 2em;
    padding: 1px;
}

.proyecto-enlace {
    display: block;
    text-align: center;
    text-align-last: center;
    /* padding: .5em; */
    color: var(--principalColor);
    background-color: silver;
    font-size: 2em;
    font-family: Verdana;
}

.contacto{
    margin: 20px;
    text-align: center;
}

#Cabecera{
    /* background: crimson; */
}


#navigator{
    position: fixed;
    width: 100%;
    height: 2.6em;
    top: 0;
    background: whitesmoke ;
}


#Portada{
padding: 50px ;
height: 50em;
background-image: url(/img/principalPage/cityBackground.jpg);
background-size: cover;
background-position-y: -10em;
background-repeat: no-repeat;
background-attachment: fixed;
}

#tarjetaPortada{
    text-align: left;
    width: 40em;
    height: 20em;
    padding: .3em;
    margin: 10em 3em ;
    border: .2em solid black;
    background: whitesmoke;
}

#MiNombre{
    text-align: left;
    margin:0;
    font-size: 5em;
    font-family: Impact;
}

#MiPresentacion{
    font-size: 2em;
    font-family: sans-serif;
}


#mi-descripcion{
    display: inline-block;
    /* background: var(--firstAlernative); */
    /* color: white; */
    width: 500px;
    font-size: 1.5em;
    margin: auto;
    padding: 1.3em;
}

#imgPerfil{
    display: inline-block;
    margin:auto;
    width: 300px;
    height: 300px;
}


#lista-conocimientos{
    text-align: center;
    padding: 30px;
}

#Proyectos{
    margin: 30px;
    text-align: center;
    
}

#proyecto-programacion{
    background-image: url(https://images.pexels.com/photos/177598/pexels-photo-177598.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover ;
}

#proyecto-UI-UX{
    background-image: url(/img/principalPage/ux-ui.png);
    background-size: cover;
}

#proyecto-fisicaOYA{
    background-image: url(/img/principalPage/piano.jpeg);
    background-size: cover;
}

#proyecto-ilustraciones{
    background-image: url(/img/principalPage/ilustracion.png);
    background-size: cover;
}

#proyecto-animaciones{
    background-image: url(/img/principalPage/animacion.png);
    background-size: cover;
}

#proyecto-videos{
    background-image: url(https://images.unsplash.com/photo-1502209877429-d7c6df9eb3f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80);
    background-size: cover;
}

#proyecto-edicion{
    background-image: url(https://image.freepik.com/foto-gratis/hombre-editando-fotos-computadora_53876-46864.jpg);
    background-size: cover;
}

#Contacto{
    font-size: 2em;
}