:root {
    --principalColor: #0500D7;
    --secondaryColor: #FF6600;
    --tertiaryColor: #FFC400;

    --firstAlernative:#0981FF;
    --secondAlternative:#37BBFF;
}

body{
    /* background-image: url(/img/principalPage/cityBackground.jpg);
background-size: contain; */
font-family: "Trebuchet MS", sans-serif;
/* background: var(--secondaryColor); */
}

section{
    /* border-bottom: 1.7px solid silver; */
    padding: 25px;
}

h1{
    font-size: 3em;
    margin: 30px ;
    text-align: center;
    
}
h2{
    font-size: 2em;
    text-align: center;
    margin:10px;
    font-family: 'Lato', sans-serif;
    color: var(--secondaryColor);
    background-color: whitesmoke;
    padding: .2em .1em;
    border-radius: 1em;
}

h3{
    font-size: 1.8em;
    text-align: center;
    margin: 20px;
    color: var(--secondaryColor);
    font-family: 'Lato', sans-serif;
}

h4{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    font-size: 1.4em;
    padding: .2em .1em;
    border-radius: 1em;
    color: var(--principalColor);
}

a{
    text-decoration: none;
    color: var(--principalColor);
}

nav{
float: right;
}

.enlaceCabezera{
    display: inline-block;
    padding: 0.1em 0.6em;
    margin-right: 15px;
    color: var(--principalColor);
    font-size: 1.5em;
    font-family: "Trebuchet MS";
    /* font-style: oblique; */
    border: 0.1em solid var(--principalColor);
    border-radius: 1em;
    background-color: whitesmoke;
}

.sobreMi-seccion{
    display: inline-block;
    /* border: solid var(--tertiaryColor); */
    color: var(--firstAlernative);
    line-height: 1.1em ;
    margin: 2em;
    /* padding: 2em; */
    /* margin-left: 25%; */
    /* margin-right: 25%; */
}

.conocimientos-seccion{
    display: inline-block;
    width: 200px;
    padding: 1em;
    margin:20px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 1.2em;
    background-color: var(--tertiaryColor);
    border-radius: 1em;
    color: var(--firstAlernative);
    line-height: 1.3em;

    /* font-size: 2em; */

}

.items-lista{
    display: block;
}


.proyecto-seccion{
    /* border: 2px solid gray; */
    display: inline-block;
    width: 25em;
    height: 20em;
    margin: 2em;
    padding: 1px;
}

.proyecto-enlace {
    display: block;
    text-align: center;
    text-align-last: center;
    /* padding: .5em; */
    color: var(--firstAlernative);
    background-color: whitesmoke;
    /* padding: 0.1em 0.4em; */
    border-radius: 1px;
    font-size: 2em;
    font-family: Verdana;
}

.contacto{
    margin: 20px;
    text-align: center;
    text-decoration: var(--secondaryColor) dotted ;
}




#navigator{
    position: fixed;
    width: 100%;
    padding: 0.3em;
    /* height: 2.6em;s */
    /* top: 0; */
    background: whitesmoke ;
    /* background-color: var(--secondaryColor); */
}


#Portada{
padding: 50px ;
height: 50em;
background-image: url(https://images.pexels.com/photos/1507552/pexels-photo-1507552.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
background-size: cover;
background-position-y: -10em;
background-repeat: no-repeat;
background-attachment: fixed;
/* padding-left: 1em; */
}

#tarjetaPortada{
    text-align: left;
    width: 34em;
    height: 21em;
    padding: 1em;
    margin: 10em 3.2em ;
    border: .2em solid white;
    border-radius: 1em;
    background: whitesmoke;
}

#MiNombre{
    text-align: left;
    margin:0;
    font-size: 4em;
    padding: .3em 0 0 .4em ;
    font-family: 'Lato', sans-serif;
    color: var(--principalColor);
    /* font-weight: lighter; */
}

#MiPresentacion{
    font-size: 1.6em;
    font-family: "Trebuchet MS";
    color : var(--firstAlernative) ;
    padding: 1em;
    line-height: 1.1em;
    
    /* text-align: center; */
    /* font-weight: thin; */
}

#SobreMi{
    text-align: center;
}

#mi-descripcion{
    display: inline-block;
    /* background: var(--firstAlernative); */
    /* color: white; */
    width: 25em;
    font-size: 1.5em;
    margin: auto;
    padding: 1.3em;
    text-align: justify;
}

#imgPerfil{
    display: inline-block;
    width: 29em;
    height: 29em;
    background-image: url(/img/principalPage/profilePhoto.jpg);
    background-size: cover;
}


#lista-conocimientos{
    text-align: center;
    padding: 30px;
}

#Proyectos{
    margin: 30px;
    text-align: center;
    
}

#proyecto-programacion{
    background-image: url(https://images.pexels.com/photos/177598/pexels-photo-177598.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover ;
}

#proyecto-UI-UX{
    background-image: url(/img/principalPage/ux-ui.png);
    background-size: cover;
}

#proyecto-fisicaOYA{
    background-image: url(/img/principalPage/piano.jpeg);
    background-size: cover;
}

#proyecto-ilustraciones{
    background-image: url(/img/principalPage/ilustracion.png);
    background-size: cover;
}

#proyecto-animaciones{
    background-image: url(https://static.rfstat.com/bloggers_folders/user_2591565/my_media/2D-animation/5f90284e-e6c1-4fa3-b43c-c78196e3e327.jpg);
    background-size: cover;
    background-position: center;
}

#proyecto-videos{
    background-image: url(https://images.unsplash.com/photo-1502209877429-d7c6df9eb3f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80);
    background-size: cover;
}

#proyecto-edicion{
    background-image: url(https://image.freepik.com/foto-gratis/hombre-editando-fotos-computadora_53876-46864.jpg);
    background-size: cover;
}

#Contacto{
    font-size: 2em;
    color: whitesmoke;
    background-color: var(--firstAlernative);
    height: 21.6em;
 
}

#Contiene-contacto{
    /* height: 16em; */
    background-color: var(--tertiaryColor);
    padding: 2em;
    margin: 5em;
}