:root{
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    /* border: solid red; */
    box-shadow: 2px 2px 30px;
    text-align: right;
    padding: 5px;
}

section{
    /* border: solid black; */
    box-shadow: 2px 2px 40px;
    margin-block: 5px;
    padding: 5px;

}

#Portada{
    text-align: center;
    height: 200px;
}

#imgPerfil{
    width: 100px;
}

#SobreMi{
    text-align: center;
}

#lista-conocimientos-programacion{
    display: inline-block;
    margin: auto;
}

#lista-conocimientos-multimedia{
    display: inline-block;
    margin: auto;
}

#Contacto{
    text-align: center;
    color: gray;
}
